body {
  padding: 0;
  margin: 30px auto;
  font-family: "Spartan", sans-serif;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.weather-app {
  margin: 0 auto;
  padding: 30px 45px;
  max-width: 650px;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
.form-group {
  margin-bottom: 0;
}

h1 {
  font-size: 38px;
  margin: 0 auto;
  letter-spacing: 2px;
  padding-top: 10px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
}

h3 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  color: rgb(36, 32, 31);
  font-weight: 800;
  text-transform: capitalize;
}

h4 {
  margin: 20px 0 0 0;
  font-size: 18px;
}

.weather-headline {
  margin: 10px 30px 70px 30px;
  text-align: center;
}

.current-weather {
  margin: 30px 0;
}

.weather-icon {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.list-group-item {
  border: 0px;
  padding: 3px;
  background: transparent;
  font-size: 14px;
}

.card-style {
  margin: 0 auto;
  background: transparent;
  border: transparent;
}

.hourly {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.btn.data-title {
  color: #2d1b00;
  font-weight: 500;
  margin: 0 auto;
}

.card-body {
  margin: 0 auto;
  display: inline-block;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
}

.list-group-item.icon {
  color: #2d1b00;
  font-size: 12px;
}

.list-group-item.hour-icon {
  font-weight: bolder;
  color: #2d1b00;
  font-size: 25px;
}

.list-group-item.temp-hourly {
  font-weight: bolder;
  color: #2d1b00;
  font-size: 16px;
}

.daily-forecast {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.list-group-item.day {
  color: #2d1b00;
  font-size: 14px;
}

.list-group-item.icon {
  font-weight: bolder;
  color: #2d1b00;
  font-size: 33px;
  padding: 0%;
}

.list-group-item.max-temp {
  font-weight: bolder;
  color: #2d1b00;
  font-size: 16px;
  padding: 0%;
}

.list-group-item.min-temp {
  color: #2d1b00;
  font-size: 12px;
  padding: 0%;
}

.units {
  color: black;
}

a {
  color: black;
}

.btn-style {
  padding: 10px 0;
  color: #5d5d5d;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: underline;
}
